# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
.nmprc

#ESLint
.eslintcache

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# Exclude logs
*.log

# obsidian settings specific to me
data.json

# description of build requirements
AGENTS.md

# Exclude macOS Finder (System Explorer) View States
.DS_Store

